@font-face {
    src: url('../fonts/Silkscreen-Regular.ttf');
    font-family: silk;
}

@font-face {
    src: url('../fonts/Silkscreen-Bold.ttf');
    font-family: silkbold;
}

@font-face {
    src: url('../fonts/NanumPenScript-Regular.ttf');
    font-family: nanum;
}


body {
    margin: 0;
    padding: 0;
    
}

#welcome-body {
    background-image: url('../img/game-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

#welcome-page {
    font-family: nanum;
    color: #74cbfc;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

#speech {
    margin-top: 0vh;
    padding-top: 0vh;
    text-align: center;
}

#title1 {
    font-family: silk;
    font-size: 13vh;
    margin-bottom:0vh;
    color:#1c83cb;
    padding-bottom: 0vh;
}

#title2 {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("../img/rainbow.png");
    background-size: 38% auto;
    background-position: top;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: silkbold;
    font-size: 18vh;
    padding-top: 0vh;
    margin-top:0vh;
    padding-bottom: 0vh;
    margin-bottom: 0vh;
    }
}


#board {
    background-image: url('../img/game-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; 
     
}


.player {
    background-image: url('../img/player.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.trash {
    position: absolute;
    transition: left 0.2s ease;
}

*, *::before, *::after {
    box-sizing : border-box;
}

.progressbar {
    position: relative;
    width: 400px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    color: white;
    justify-content: center; 
}

.progressbar::before{
    content: attr(data-label);
    display: flex;
    align-items : center;
    position: absolute;
    left: 5px;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: calc(var(--width, 0) * 1%);
    min-width: 5px;
    max-width: calc(100%-10px);
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
}

#page-gameover {
    background-image: url('../img/game-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex; /* Make the container a flex container */
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    position: relative;
    overflow: hidden;
}

#page-victory {
    background-image: url('../img/game-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex; /* Make the container a flex container */
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    position: relative;
    overflow: hidden;
}

#restart-button {
    height: 18vh;
    width: 10vw;
}

#fail, #try-again {
    text-align: center; 
}

#gameover-img {
    height: 38vh;
    width: 15vw;
}

#fail {
    font-family: nanum;
    color: #74cbfc;
    font-size: 40px;
    margin-bottom: 0;
    
}

#try-again {
    font-family: nanum;
    color: #74cbfc;
    font-size: 32px;
    margin-top: 0;
    
}


#btn {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
}
#vdonate-btn {
    height: 18vh;
    width: 10vw;
}

#vrestart-button {
    height: 18vh;
    width: 10vw;
}

#victory-title {
    font-family: silkbold;
    font-size:100px;
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 35s linear infinite;
  }
  
  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
      }
  }


#win {
    font-family: nanum;
    
    color: #74cbfc;
    font-size: 40px;
    margin-bottom: 0;
}

#subHead {
    font-family: nanum;
    
    color: #74cbfc;
    font-size: 32px;
    margin-top: 0;
}

.st-btn {
    display: block;
    text-align: center;
    font-family: nanum;
    color: #74cbfc;
    font-size: 25px;
}

.st-btn.active {
    color: black;
}
