body {
    margin: 0;
    padding: 0;
    
}


#board {
    background-image: url('/img/game-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


.player {
    background-image: url('/img/player.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.trash {
    position: absolute;
 
}

*, *::before, *::after {
    box-sizing : border-box;
}

.progressbar {
    position: relative;
    width: 400px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    color: white;
}

.progressbar::before{
    content: attr(data-label);
    display: flex;
    align-items : center;
    position: absolute;
    left: 5px;
    right: 8px;
    top: 8px;
    bottom: 8px;
    width: calc(var(--width, 0) * 1%);
    min-width: 5px;
    max-width: calc(100%-10px);
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
}

#page-gameover {
    background-image: url('/img/game-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex; /* Make the container a flex container */
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    position: relative;
    overflow: hidden;
}

#restart-button {
    height: 40vh;
    width: 20vw;
}

#fail, #try-again, #gameover-title {
    color: grey;
    text-align: center; /* Center the text */
}

#gameover-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

#fail {
    font-family: 'Gill Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 0;
}

#try-again {
    font-family: 'Gill Sans', sans-serif;
    font-size: 32px;
    margin-top: 0;
}

#btn {
    display: flex; /* Make the container a flex container */
    flex-direction: row;
    justify-content: center; /* Center items vertically */
}
#V-donate-btn {
    height: 40vh;
    width: 20vw;
}

#V-restart-button {
    height: 40vh;
    width: 20vw;
}

